<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'course/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'course/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'course/css/style.css' %}">
</head>
<body class="">
    <div class="conatainer-fluid alert alert-info"> 
     
        <div class="row border m-2 outline-danger">
            <div class="col-sm-2">
                <img src="{% static 'course/images/logo_Agri.png' %}" alt="logo" class="logo">
            </div>
            <div class="col-sm-6  pt-5 ">
                <ul class="nav h4 ps-5 me-3 ">
                    <li class="nav-items "><a href="#" class="nav-link active">Home</a></li>
                    <li class="nav-items"><a href="#" class="nav-link ">About</a></li>
                    <li class="nav-items"><a href="#" class="nav-link">Services</a></li>
                    <li class="nav-items"><a href="#" class="nav-link">Blog</a></li>
                    <li class="nav-items"><a href="#" class="nav-link">Contact</a></li>   
                </ul>
            </div>
            <div class="col-sm-4 pt-5">
               <input type="text" class="border border-dark rounded "placeholder="search">
               <button type="submit" class="btn-sm btn-primary border border-dark">Search</button>
            </div>
        </div>
    </div>
    <script src="{% static 'course/js/all.min.js' %}"></script>
    <script src="{% static 'course/js/popper.js' %}"></script>
    <script src="{% static 'course/js/jQurey.js' %}"></script>
    <script src="{% static 'course/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'course/js/script.js' %}"></script>
</body>
</html>